@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(0,153, 255, .5);
    color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=file] {
    display: none;
}

/* main container */

.container {
    min-width: 450px;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.file {
    background-color: rgba(0,153, 255, .9);
    color: #fff;
    padding: 8px 28px;
    font-size: 16px;
    margin: 20px 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

#feedback {
    padding: 10px;
}

span {
    color: yellowgreen;
}


@media (max-width: 550px) {
    .container{
        max-width: 400px;
        min-width: 300px;
    }

    h1 {
        font-size: 20px;
    }

    span {
        font-size: .7rem;
    }
}

@media (max-width: 400px) {
    .container{
        max-width: 95%;
        min-width: 80%;
    }

    h1 {
        /* font-size: 16px; */
    }

    span {
        font-size: .7rem;
    }

    .file {
        padding: 6px 24px;
        font-size: 14px;
    }
}